<div class="container">
  <br>
  <div id="myCarousel" class="carousel slide col-xs-12 col-sm-8 col-md-6 col-lg-6" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
       <%= image_tag 'hobo1.jpg'%>
        <div class="carousel-caption">
          <h3>Борода</h3>
          <p>Лучших электронных кальянов нигде не видел!</p>
        </div>
      </div>
    
      <div class="item">
        <%= image_tag 'hobo2.jpg'%>
        <div class="carousel-caption">
          <h3>Ванёк</h3>
          <p>Отличные кальяны, всем советую!</p>
        </div>
      </div>

      <div class="item">
        <%= image_tag 'hobo3.png'%>
        <div class="carousel-caption">
          <h3>Добряк</h3>
          <p>Вкус богатый и насыщенный, а сам кальян сделан на совесть.</p>
        </div>
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>