<div class="kalyan-item container">
  <div class="kalyan-image">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScEXBgoG1xCVbi6Xa1gUKr86wR8atlHDeMas9SLDTpBccF4Dp_" alt="Кальян">
  </div>
  <div class="item-text">
    <h4 class="item-title"> <%= cartridge.name%> </h4>
    <p class="item-description"> <%= cartridge.cost%> </p>
    <a href=#>
      <div class="div-button">
        Купить
      </div>
    </a>
  </div>
</div>
