<div class="kalyan-item container cartridge">
  <div class="kalyan-image">
    <%= image_tag cartridge.image %>
  </div>
  <div class="item-text">
    <h4 class="item-title"> <%= cartridge.name%> </h4>
    <p class="item-description"> <%= cartridge.cost%>  UAH/картридж </p>
    <a href=#>
      <div class="div-button">
        Купить
      </div>
    </a>
  </div>
</div>
