  
<h1> Отзывы о кальянах E-Hose </h1>  
  <div id="page-wrap">
    <div id="rotator">    
      <div id="block-1" class="active">
        <h2>Таня, Вена</h1>
        <div>
          <h1>Дешево и сердито!</h1>
          <img src="http://images.qwrt.ru/images/2014/02/09/%D0%BA%D1%80%D0%B0%D1%81%D0%BE%D1%82%D0%B0-%D0%BF%D1%81%D0%B8%D1%85%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%8F-%D0%B2%D0%BD%D0%B5%D1%88%D0%BD%D0%BE%D1%81%D1%82%D1%8C-%D0%BB%D0%B8%D1%86%D0%BE-875701.jpg" alt="space frog">
          <p>Commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
        </div>
      </div>
      
      <div id="block-2" class="non-active-top">
        <h2>Вася, Москва</h2>
        <div>
          <h1>Классные кальяны!</h1>
          <img src="http://demiart.ru/forum/uploads12/post-735564-1372846370.jpg" alt="goblins">
          <p>Ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
        </div>      
      </div>
      
      <div id="block-3" class="non-active-bottom">
        <h2>Маша, Киев</h2>
        <div>
          <h1>Улётный кальян!</h1>
          <img src="http://b-s.kiev.ua/img/6.jpg" alt="Face">
          <p>Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
        </div>      
      </div>
    
    </div>
  
  </div>
  
  <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js'></script>
  
  <!-- 
    Thought of using jQuery UI's .addClass transitions as fallback (or primary) but doesn't work as well
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script> 
  -->
  
  <script>
    // DOM Ready
    $(function() {
    
      var current;
          
      function rotate() {
      
        // This seems like a sucky way to do it, but you can't select by classes because they execute in order
              
        if (current == 1) {
          $("#block-1").removeClass().addClass("active");
          $("#block-2").removeClass().addClass("non-active-top");
          $("#block-3").removeClass().addClass("non-active-bottom");
        } else if (current == 2) {
          $("#block-1").removeClass().addClass("non-active-bottom");
          $("#block-2").removeClass().addClass("active");
          $("#block-3").removeClass().addClass("non-active-top");
        } else {
          $("#block-1").removeClass().addClass("non-active-top");
          $("#block-2").removeClass().addClass("non-active-bottom");
          $("#block-3").removeClass().addClass("active");
        }
      
      }
      
      $("#rotator div").click(function() {
      
        // Enables reversing, idea via Andrea Canton: https://twitter.com/andreacanton/status/24954634279849985
        current = this.id.substr(6);      
        rotate();
      
      });
    
    });
  </script>