<div class="contact-container">
  <h3> Заказать бесплатный тест-драйв в Харькове </h3>
  <input type="text" class="contact-input" placeholder="Ваше имя:">
  <input type="text" class="contact-input" placeholder="Ваш телефон:">
  <p class="contact-safe"> *Ваши контактные данные в безопасности </p>
</div>
