<div class="footer-container">
  <div class="footer-left-part">
    <span class="footer-title"> StarBuzz, 2013 </span>
    <span class="footer-contact"> Адреса, телефоны, контакты </span>
  </div>
  <div class="footer-right-part">
    <ul class="socials">
      <li class=social-item> <div class="social-div"></div> Соцсеть </li>
      <li class=social-item> <div class="social-div"></div> Соцсеть </li>
      <li class=social-item> <div class="social-div"></div> Соцсеть </li>
    </ul>
    
  </div>
</div>
