<div class="header-container">
  <div class="header-contact">
    <%= render 'contact' %>
  </div>
  <div class="header row">
  <span> Честный магазин кальянов от StarBuzz</span>
  <div class="header ellipse"> EpicHouse </div>
  <div class="header phone">+38(090)977-33-19 </div>
  <button class="header order"> Заказать звонок </button>
  </div>
</div>