<div class="kalyan-item container">
  <div class="kalyan-image">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScEXBgoG1xCVbi6Xa1gUKr86wR8atlHDeMas9SLDTpBccF4Dp_" alt="Кальян">
  </div>
  <div class="Text">
    <h4> Удобно </h4>
    <p> Потому что гладиолус </p>
  </div>
</div>
