@media all {html {font-size: 24px;}}@media all and (max-width:2200px){html {font-size: 27px;}}@media all and (max-width:1800px){html {font-size: 26px;}}@media all and (max-width:1400px){html {font-size: 25px;}}@media all and (max-width:1000px){html {font-size: 24px;}}@media all and (max-width:960px){html {font-size: 23px;}}@media all and (max-width:920px){html {font-size: 22px;}}@media all and (max-width:880px){html {font-size: 21px;}}@media all and (max-width:840px){html {font-size: 20px;}}@media all and (max-width:800px){html {font-size: 19px;}}@media all and (max-width:760px){html {font-size: 18px;}}@media all and (max-width:720px){html {font-size: 17px;}}@media all and (max-width:680px){html {font-size: 16px;}}@media all and (max-width:640px){html {font-size: 15px;}}@media all and (max-width:600px){html {font-size: 14px;}}@media all and (max-width:560px){html {font-size: 13px;}}@media all and (max-width:520px){html {font-size: 12px;}}

*{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  letter-spacing: 2px;
}

.header{
  & *{
    float: left;
  }
  & .row{
    width: 100%;
    height: 15%;
    min-height: 50px;
    line-height: 100px;
  }
  & .phone{
    display: block;
    padding-top: 10px;
    margin-right: 5%;
    float: right;
    font-size: 2em;
    width: calc(33% - 100px);
    & span{
      display: block;
      height: 50%;
      margin: 0 auto;
      float: none;
      text-align: center;
      color: white;
    }
    & .modal-link{
      width: 100%;
      background-color: #D3D3D3;
    }
  }
  & .image{
    margin: 0 auto;
    float: left;
    height: 17%;
    width: calc( 33% - 50px);
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    & img{
      margin: 0 auto;
      display: block;
    }
  }
  & .text{
    width: 33%;
    text-align: center;
    height: 100px;
    min-width: 320px;
  }
  & .order{
    display: inline;
    float: rigth;
  }
}

.header-container{
  height: 600px;
  width: 100%;
  background: image-url('header.jpg') no-repeat;
  background-size: cover;
}

.kalyan-item.container{
  width: 20%;
  height: 400px;
  display: block;
  float: left;
}
.kalyan-image{
  display: block;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  & img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.why.body{
  margin: 50px 0 50px 0;
  & > h2{
    display: block;
    margin: 0 0 25px 0;
    font-weight: 1000;
  }
}

.kalyan.body{
  margin-top: 50px;
}

.overview-container{
  width: 100%;
  height: 800px;
  text-align: center;
  & h2{
    text-align: center;
  }
  & .overview-text{
    width: 30%;
    height: 80%;
    //margin: 20px;
    display: inline-block;
    float: left;
  }
  & .overview-video{
    width: 65%;
    height: 80%;
    display: inline-block;
    //float: right;
  }
}

.video.text{
  font-size: 3em;
}
.litem{
    margin: 10px 0 10px 0;
}
h2{
  font-size: 3.5em;
}
h1{
  font-size: 4em
}

.div-button{
  width: 50%;
  height: 50px;
  border-radius: 25px;
  text-align: center;
  line-height: 50px;
  font-size: 1em;
  border: 3px solid gray;
  background-color: green;
  color: white;
  margin: 0 auto;
  text-decoration: none;
}
.item-text{
  & .item-title{
    text-align: left;
    font-size: 1.5em;
  }
  & .item-description{
    font-size: 1em;
    text-align: left;
    margin: 10px;
    
  }
}

.test-drive-container{
  width: 100%;
  height: 600px;
  display: block;
  background: image-url('volan.jpg');
  background-size: cover;
  margin-top: 25px;
  & h1{
    display:block;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    float: none;
    position: absolute;
    left: 25%;
    font-size: 3em;
    letter-spacing: 3px;
    color: #2F4F4F;
  }
  & .test-drive-text{
    width: 50%;
    display: inline-block;
    height: 80%;
    & p{
      padding: 0 0 0 30px; 
    }
  }
  & .test-drive-contact{
    width: 50%;
    display: inline-block;
    height: 80%;
    float: right;
  }
}

.contact-container{
  filter: alpha(opacity=70);
  max-height: 450px;
  position: absolute;
  left: 5%;
  margin: 0 auto;
  display: block;
  & .text{
    display: block;
    margin: 15px 0 15px 0;
    font-size: 1.5em;
    color: white;
    font-weight: 1200;
  }
  & .contact-form{
    width: 100%;
    min-width: 320px;
    top: 125px;
    border-radius: 15px;
    border: 2px solid black;
    text-align: center;
    background-color: white;
    opacity: .7;
    filter: alpha(opacity=70);    
    margin: 0 auto;
    & *{
      float: none;
      text-align: center;
    }
    & h4{
      margin: 10px;
    }
    & .contact-input{
      width: 75%;
      height: 15%;
      margin: 5% auto;
      padding: 3%;
      font-size: 1.5em;
    }
    & .make-order-button{
      width: 85%;
      height: 15%;
      margin: 5% auto;
      padding: 3%;
    }
    & .contact-safe{
      font-size: 0.7em;
    }
  }
}

html { background: #FFF; }
body { font: 14px/1.4 Georgia, serif; color: #2d2d2d; }

article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block; }

#page-wrap { width: 960px; margin: 80px auto; }

.carousel-container{
  width: 65%;
  margin: 0 auto;
}

#rotator {
  & img{
  width: 540px;
  heigth: 540px;
  } 
  & h1{
    font-size: 2.5em;
  }
  h2{
    font-size: 2em;
  }
}

.question-container{
  width: 45%;
  height: 250px;
  padding: 20px;
  margin: 10px;
  display: inline-block;
  border: 2px solid black;
  border-radius: 25px;
  & .question-title{
    font-size: 2em;
    text-align: center;
  }
  & .question-text{
    
  }
}
.still-question-container{
  width: 100%;
  height: 600px;
  background-color: green;
  & .still-render{
    width: 30%;
    margin: 40px;
    float: left;
  }
}
.footer-container{
  width: 100%;
  height: 200px;
  background-color: gray;
  & .footer-left-part{
    width: 45%;
    height: 80%;
    margin: 20px;
    text-align: left;
    display: inline-block;
      & .footer-title{
        font-size: 2.5em;
      }
      & .footer-text{
        font-size: 1.6em;
      }
    
  }
  & .footer-right-part{
    width: 45%;
    height: 80%;
    margin: 20px;
    display: inline-block;
    & .socials{
      padding: 0px;
      margin: 20px;
      & li{
        display: inline-block;
        width: 30px;
        margin: 30px;
      }
    }
    & .social-div{
      width: 25px;
      height: 25px;
      background-color: green;
    }
  }
}

.header-contact{
  width: 30%;
  height: 85%;
  float: left;
  margin: 30px;
}
.text-center{
  text-align: center;
}

.modal-link{
    width: 75%;
    height: 15%;
    right: 50px;
    margin: 5% auto;
    padding: 3%;
    display: block;
    background-color: white;
    & h4{
      font-size: .7em;
      width: 100%;
      color: gray;
      text-align: center;
    }
}

.why.body{
  display:block;
  height: 800px;
}

.why.container{
  border: none;
  width: 25%;
  height: 450px;
  display: block;
  float: left;
  & img{
    border: none;
  }
  & .why.text{
    text-align: center;
    height: 25%;
    max-height: 150px;
    width: 85%;
    margin: 0 auto;
    & h4{
      color: red;
      font-size: 2.3em;
      font-weight: 1000;
    }
    & p{
      display: block;
      text-align: center;
      color: black;
      font-size: 1em;
      font-weight: 700;
    }
  }
}

.clear-none{
  float: none;
  width: 100%;
  height:1px;
  display: block;
}

.hidden{
  display: none;
}

.modal-link:hover{
  background-color: white;
  -webkit-transition: 1.5s ease;
          transition: 1.5s ease;
  & > h4{
    color: red;
    -webkit-transition: 1.5s ease;
            transition: 1.5s ease;
  }
}

.make-order-button{
  font-size: 1.5em;
  font-weight: bold;
  width: 100%;
  margin: 0 auto;
  &:hover{
    -webkit-transition: 1.5s ease;
            transition: 1.5s ease;
    color: red;
    background-color: white;
  }
}

.kalyan-item.container{
  height: 450px;
  letter-spacing: 1px;
  margin: 20px auto;
  & .item-text{
    width: 80%;
    margin: 10px auto;
    & h4{
      line-height: 21px;
      height: 60px;
      display: block;
      font-size: 1.5em;
      letter-spacing: 1px;
    }
    & p{
      font-weight: bold;
      font-size: 1.2em;
      text-align: center;
      display: block;
      margin-bottom: 10px;
    }
    & a{
      text-decoration: none;
      & > div{
        font-size: 1.5em;
        font-color: white;
        font-weight: bold;
      }
    }
    & a:hover > div{
      -webkit-transition: 1.5s ease;
              transition: 1.5s ease;
      color: green;
      background-color: white;
      text-decoration: none;
    }
  }
}
.cartridge-body{
  display: block;
  float: none;
  height: 2000px;
}

#modal_form {
  width: 340px; 
  height: 340px; /* Рaзмеры дoлжны быть фиксирoвaны */
  border-radius: 5px;
  border: 3px #000 solid;
  background: #fff;
  position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
  top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
  left: 50%; /* пoлoвинa экрaнa слевa */
  margin-top: -150px;
  margin-left: -150px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
  display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
  opacity: 0;
  filter: alpha(opacity=0); /* пoлнoстью прoзрaчнo для aнимирoвaния */
  z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
  padding: 20px 10px;
}
/* Кнoпкa зaкрыть для тех ктo в тaнке) */
#modal_form #modal_close {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: block;
}
/* Пoдлoжкa */
#overlay {
  z-index:3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
  position:fixed; /* всегдa перекрывaет весь сaйт */
  background-color:#000; /* чернaя */
  opacity:0.8; /* нo немнoгo прoзрaчнa */
  -moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
  filter:alpha(opacity=80);
  width:100%; 
  height:100%; /* рaзмерoм вo весь экрaн */
  top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
  left:0;
  cursor:pointer;
  display:none; /* в oбычнoм сoстoянии её нет) */
}

.modal{
  & .contact-form{
  top: 15px; 
  }
}
.flash{
  height: 30px;
  font-size: 30px;
  line-height: 30px;
  background-color: #7CFC00;
  color: white;
  text-align: center;
}

.absolute-block{
  width: 50%;
  left: 40%;
  top: 60%;
  position: absolute;
  float:right;
  & .title, .text{
    color: white;
    font-weight: 900;
  }
  & .title{
    font-size: 3em;
    letter-spacing: 3px;
  }
  & .text{
    font-size: 2em;
    letter-spacing: 2px;
    line-height: 20px;
  }
}

.fancybox{
  & img{
    border-radius: 15%;
  }
}

.contact-container.test{
  position: absolute;
  display: block;
  width: 25%;
  left: 60%;
  height: 70%;

}

.kalyan-image{
    width: 80%;
    height: 50%;
  }