<div class="header-container">
  <div class="header row">
  <div class="header text">
  <%= render 'smoke/contact'%>
  </div>
  <div class="header image">
   <%= image_tag 'logo.png' , size: '300x150'%>
  </div>
  <div class="header phone">
    <span class='phone-number'>+38(090)977-33-19 </span>
    <a class="modal-link" href="#"> <h4> ЗАКАЗАТЬ ЗВОНОК </h4> </a>
    </div>
  </div>
  <div class="absolute-block">
    <span class="absolute title"> ВОЗЬМИ ДЫМ С СОБОЙ! </span>
    </br>
    <span class="absolute text"> ЗАКАЖИ СЕЙЧАС И ПОЛУЧИ 4 КАРТРИДЖА В ПОДАРОК + СКИДКУ 10% НА СЛЕДУЮЩУЮ ПОКУПКУ </span>
  </div>
</div>